WeatherServices/Connected Services/ServiceReference1/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWeatherByCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeatherByCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeatherByCityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWeatherByCitySoapIn">
    <wsdl:part name="parameters" element="tns:GetWeatherByCity" />
  </wsdl:message>
  <wsdl:message name="GetWeatherByCitySoapOut">
    <wsdl:part name="parameters" element="tns:GetWeatherByCityResponse" />
  </wsdl:message>
  <wsdl:portType name="WeatherServiceSoap">
    <wsdl:operation name="GetWeatherByCity">
      <wsdl:input message="tns:GetWeatherByCitySoapIn" />
      <wsdl:output message="tns:GetWeatherByCitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherServiceSoap" type="tns:WeatherServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeatherByCity">
      <soap:operation soapAction="http://tempuri.org/GetWeatherByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherServiceSoap12" type="tns:WeatherServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeatherByCity">
      <soap12:operation soapAction="http://tempuri.org/GetWeatherByCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="WeatherServiceSoap" binding="tns:WeatherServiceSoap">
      <soap:address location="http://localhost:53476/WeatherService.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherServiceSoap12" binding="tns:WeatherServiceSoap12">
      <soap12:address location="http://localhost:53476/WeatherService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>